.hero {
    display: flex;
    background: linear-gradient(180deg, #252525, #727070);
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    align-items: center;
    letter-spacing: 5px;
    justify-content: space;

    
}

.title {
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: row;
}

button {
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;

    margin: 5px 10px;

}