.wrapper {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    height: 50vh;
    width: 100vw;
    background: linear-gradient(180deg, #252525, #727070);

}

.buttons {
    
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 3rem;
}

h1 {
    margin-left: 3rem;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}