.navbar{
    background-color: #424242;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    z-index: 1;
}

.name {
    color: whitesmoke;
    font-size: 3rem;
    padding-left: 0;
    
}

.links {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    padding: 0 1rem;
}

p{
    padding: 0 1rem;
}