.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    height: 10vh;
    width: 100%;
    background-color: rgb(73, 73, 73);
    color: rgb(255, 255, 255);
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
}
.name {
    margin-right:5rem;
    font-weight: bold;
}
.links{
    display: flex;
    align-items: end;
    justify-content: flex-end;
    padding: 0rem; 

    text-decoration: inherit;
    font-size: 32px; 
}

